.title {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.links > a {
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    color: white;
    text-decoration: none;
    font-size: 1.17rem;
    font-weight: bold;
}

.links > a:hover {
    text-decoration: underline;
}

/* ---------- Tablet ---------- */

@media (min-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .links > a {
        padding: 16px;
    }
}

/* ---------- Desktop ---------- */

@media (min-width: 1280px) {
    .title {
        font-size: 2.5rem;
    }

    .links > a {
        padding: 20px;
    }
}
